// Place all the styles related to the Upload controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#fileUpload {
	position: fixed;
    top: 0;
}

.bar {
    height: 18px;
    background: green;
}

#dropzone {
    background: white;
    position: relative;
    width: 100%;
}
#dropzone.in {
		zoom: 120%;
}
#dropzone.hover {
    background: grey;
}
#dropzone.fade {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    opacity: 1;
}

#commandRow{
  position: fixed;
  width: 83.33%;
  bottom: 1%;
}

#commandRow.toggle{
	width: 100%;
}

#commandRow > input{
	width: 85%;
	margin: auto;
	float: left;
    font-weight: bolder;
}

#commandRow > div {
	width: 10%;
	float: right;
	margin-right: 4%;
	font-size: 2.2rem;
	padding: 0;
}

#result {
    margin-top: 0;
    margin-bottom: 10%;
    min-height: 400px;
    min-width: 400px;
    padding: 10px !important;
}
