<div id="commandRow">
<input type="text" id="commandInput" placeholder="Command: âŽ" class="form-control">
<div onclick="$('#k').click();" class="btn btn-default"><i class="fa fa-upload"></i></div>
</div>
