<div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>

<div class="row">

  <h3 id="resultTitle"></h3>
<div id="result" class="jumbotron">
</div>
  

<div hidden>
<%= form_tag(uploads_path, method: :post, multipart: true, class: "wells") do%>
  <%= file_field_tag :file, multiple: true, id: "fileUpload" %>
<% end %>
</div>

<%= render "footer" %>

<span hidden><input type="file" id="k" /></span>

</div>