<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <button class="nav" id="sidebarButton">
      <span id="bar1" class="icon-bar toggle"></span>
      <span id="bar2" class="icon-bar toggle"></span>
      <span id="bar3" class="icon-bar toggle"></span>
      </button>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <a>Menu
          <span class="caret"></span>
        </a>
      </button>
      <a class="navbar-brand" style= href="/">
      File Upload Project
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      	<li id="user_name"><%= link_to current_user() ? "Hello, #{current_user().to_s.capitalize}!" : "Hello, Guest!", nil, class: "badge badge-primary" %></li>
       <% if session[:current_user_id] %>
					<li> <%= link_to "Logout", logout_path, method: :delete %> </li>
				<% else %>
					<li> <%= link_to "Login", login_path %> </li>
       <% end %>
      </ul>
    </div>
  </div>
</nav>