<ul class="nav nav-sidebar" id="fileItems">
  <li class="active"><a style="overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;" href="#" class="fa fa-file-text-o"> File 1 kkkkkkkkkkkkkk </a>
  <a href="#"> <i class="fa fa-trash-o"></i> </a></li>
  <li><a href="#" class="fa fa-file-text-o"> File 2</a>  <a href="#"> <i class="fa fa-trash-o"></i> </a></li>
  <li><a href="#" class="fa fa-file-text-o"> File 3</a>  <a href="#"> <i class="fa fa-trash-o"></i> </a></li>
  <li><a href="#" class="fa fa-file-text-o"> File 4</a>  <a href="#"> <i class="fa fa-trash-o"></i> </a></li>
</ul>

